.paragraph3{
    display: flex;
    align-items: center;
    padding: 50px;
    font-family: Arimo, serif;
    color: #4d4d4d;
}
.paragraph3 img{
    display: flex;
    margin-left: 50px;
    width: 250px;
}
.pass{
    display: flex;
    align-items: center
}
.text{
    color: #959595;
    font-size: small
}
.paragraph3 h2{
    margin-left: 100px;
}
@media only screen and (max-width: 728px) {
    .pass h2{
        margin-left: -40px;
    }
    .text{
        margin-right: 5px;
    }
    .paragraph3 img{
        display: none;
    }
}
