
.footerSider{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
}
.footerSider > p{
    display: block;
}
.input{
    width: 100%;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    border: none;
    background: #515b60;
}
.image{
    display: flex;
    gap: 10px
}
.fett{
    display: flex;
    align-items: center
}

.footer{
    background: #263238;
    padding: 4% 0;
    display: flex;
    color: white;
    justify-content: space-around;
    gap: 20%;
}
@media only screen and (max-width: 728px) {
    .footer {
        flex-direction: column;

    }
    .footerSider {
        grid-template-columns: repeat(1, 1fr);
        margin: 1px 9px 1%;
    }
    .footerSider p{
        margin: 1px 9px 1%;
    }
    .fett{
        display: flex;
        margin: 1px 9px 1%;
        align-items: center
    }
    .image{
        gap: 20px;
        margin: 1px 9px 1%;
        align-items: center;
    }
    .input {
        width: 150px;
        margin-left: 10px;
    }
}